.quote {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote__text {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.quote__author {
    color: white;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}